
@media (min-width: 992px) {
	#sidebar {
        width: 200px;
    }
    #main-content {
        margin-left: 200px;
    }
}
@media (min-width: 1200px) {
	#sidebar {
        width: 220px;
    }
    #main-content {
        margin-left: 220px;
    }
}
@media (min-width: 1400px) {
	#sidebar {
        width: 300px;
    }
    #main-content {
        margin-left: 300px;
    }
}
@media (min-width: 1600px) {
	
}

@media (min-width: 1800px) {
	
}